:root {
  // Colors
  --main--color: #171c28;
  --second--color: #292e3a;
  --text-color: #878a92;
  --third--color: #dd3a88;
  --highlight--color: #fff;
  --background--color: #393e48;

  // Fonts
  --main-font: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-size: 0.9em;
}

* {
  font-family: var(--main-font);
}

body {
  background-color: var(--main--color);
  color: #fff;
  margin: 0;
  padding: 0;
}

// Grid Position

.gridSection {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  grid-template-areas:
    "leftSide header header header"
    "leftSide middleSection middleSection rightSide"
    "leftSide middleSection middleSection rightSide"
    "leftSide middleSection middleSection rightSide";
}
.header {
  grid-area: header;
}
.leftSection {
  grid-area: leftSide;
  border-right: 1px solid var(--second--color);
}
.middleSection {
  grid-area: middleSection;
}
.rightSide {
  grid-area: rightSide;
}

// Header Section

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid var(--second--color);
  padding: 2rem;
  &__welcome {
    font-size: 0.8em;
    color: var(--text-color);
    margin: 0 1rem 0.4rem 0.4rem;
  }
  &__title {
    font-size: var(--font-size);
    margin-left: 1rem;
  }
  &__search {
    width: 100%;
    padding: 0.7rem;
    border: none;
    border-radius: 50px;
    text-indent: 20px;
    background-color: var(--second--color);
    &:focus {
      outline: none;
    }
  }
  &__mode {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    &__image {
      width: 2rem;
      height: 1.3rem;
      margin-right: 0.5rem;
      vertical-align: middle;
      object-fit: contain;
    }
  }
  &__modeTitle {
    padding: 0.6rem 0.6rem.6rem 3rem;
    border-radius: 50px;
    background-color: var(--second--color);
    text-align: center;
    color: var(--text-color);
  }
}

// LeftSide Section

.user {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--background--color);
  padding: 2.13rem;
  align-items: center;
  padding-right: 3rem;
  &__image {
    width: 2rem;
    height: 2rem;
    border: 2px solid #55442c;
    border-radius: 10px;
    margin-right: 1rem;
  }
  &__name {
    width: max-content;
    font-size: var(--font-size);
  }
  &__email {
    font-size: 0.8em;
    margin-top: 0.2rem;
    color: var(--text-color);
  }
}

.mainMenu {
  width: max-content;
  padding: 2rem;
  &__section {
    margin-bottom: 1rem;
  }
  &__list {
    font-size: var(--font-size);
    &__title {
      font-size: var(--font-size);
      color: var(--text-color);
      margin: 0 0 0.9rem 0;
      & > img {
        width: 1.5rem;
        height: 1rem;
        margin-right: 0.5rem;
        vertical-align: middle;
        object-fit: contain;
      }
      &:first-child {
        margin-top: 1rem;
      }
      &__logOut {
        color: #7b2331;
        & > img {
          width: 1.5rem;
          height: 1rem;
          margin-right: 0.5rem;
          vertical-align: middle;
          object-fit: contain;
        }
      }
    }
  }
}

// Middle Section

.collection {
  padding: 1rem;
  &__headTitle {
    display: flex;
    font-size: 1.1rem;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  &__viewAll {
    font-size: var(--font-size);
    color: var(--text-color);
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  // Grid Image
  &__image {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 20px);
    border-radius: 10px;
    background-image: url(/images/bbb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0.5rem;
    &__heartImage {
      width: 20px;
      height: 20px;
      border: 1px solid var(--third--color);
      border-radius: 50%;
      padding: 0.5rem;
      margin: 1rem;
    }
    &__grid {
      display: grid;
      grid-column: 8;
      grid-row: 8;
    }
    &__number {
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      border-radius: 50px;
      background: rgba(130, 114, 113, 0.66);
      padding: .6rem 1rem .6rem 1rem;
      & > img {
        width: 25px;
        height: 25px;
        object-fit: contain;
      }
    }
  }

  &__title {
    margin-top: 0.8rem;
    &__state {
      font-size: var(--font-size);
      padding: 0.3rem;
      color: var(--third--color);
      background-color: #231a2b;
      border-radius: 50px;
      float: right;
    }
  }
  &__user {
    display: flex;
    margin-top: 0.3rem;
    color: var(--text-color);
    font-size: 0.8em;
    align-items: center;
    &__image {
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem;
      border-radius: 50%;
      vertical-align: middle;
      object-fit: fill;
    }
  }
}

// Right Side (Wallet)

.rightSide {
  padding: 1rem;
}

.balance {
  &__headTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  &__addWallet {
    color: var(--text-color);
  }
  &__wallet {
    display: flex;
    justify-content: center;
    margin: 1.5rem;
    align-items: center;
    flex-direction: column;
    background-color: var(--second--color);
    border-radius: 20px;
  }
  &__actualBalance {
    margin: 1rem 0 0.5rem 0;
    color: var(--text-color);
  }
  &__numberBalance {
    font-size: 2.5em;
  }
  &__walletCoin {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 2rem 0 13rem 0;
    color: var(--text-color);
  }
  &__ethImage {
    width: var(--font-size);
    height: var(--font-size);
    padding: 0.2rem;
    background-color: var(--background--color);
    border-radius: 50%;
    object-fit: contain;
  }
  &__topUp {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1.1rem;
    margin-bottom: 2rem;
    border-radius: 50px;
    border: 1px solid var(--highlight--color);
    &__plus {
      width: 1rem;
      height: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0.1rem;
      border-radius: 50%;
      background-color: var(--background--color);
    }
  }
}

// Right Side Footer (Wallet)

.creator {
  padding: 1rem;
  &__headTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  &__all {
    color: var(--text-color);
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__userImage {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
    &__email {
      margin-top: 0.3rem;
      color: var(--text-color);
    }
    &__percentage {
      float: right;
      color: rgb(193, 30, 30);
      margin-bottom: 0.3rem;
    }
    &__walletValue {
      color: var(--text-color);
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    vertical-align: middle;
    width: 50%;
    padding: 1rem;
    margin-top: 1.5rem;
    border: 1px solid var(--highlight--color);
    border-radius: 50px;
  }
}
